body {
  /* This style below will be INHERITED*/

  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 95px;
  padding-right: 24px;
  padding-bottom: 3000px;
  background-color: rgb(250, 246, 246);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
